
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Sudoku</h3>
    <ul>
      <li><a href="http://www.ynomrah.com/Sudoku/New">New version</a></li>
      <li><a href="http://www.ynomrah.com/Sudoku/Old">Old version</a></li>
    </ul> 
</body>
</html>
