@model Ynomrah.Web.Models.Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Berlin</title>
</head>
<body>
  <div style="color: red">
    <h1>View Berlin</h1>
    First name:&nbsp;@Model.FirstName<br />
    Last name:&nbsp;@Model.LastName<br />
    Age:&nbsp;@Model.Age
  </div>
</body>
</html>
