@model Ynomrah.Web.Models.Person


<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Paris</title>
</head>
<body>
  <div style="color: forestgreen;">
    <h1>View Paris</h1>
    First name:&nbsp;@Model.FirstName<br />
    Last name:&nbsp;@Model.LastName<br />
    Age:&nbsp;@Model.Age
  </div>
</body>
</html>
