@model Ynomrah.Web.Models.Person

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>EchoPerson</title>
</head>
<body>
  First name:&nbsp;@Model.FirstName<br />
  Last name:&nbsp;@Model.LastName<br />
  Age:&nbsp;@Model.Age
</body>
</html>
